{deps, [ {jsx, "3.0.0"}
       , {erlexec, { git, "git@github.com:saleyn/erlexec.git", { tag, "1.9" }}}
       ]}.

%%

{profiles, [ {dist, [ {src_dirs, ["erl_src", "output"]}
                    ]}
           , {test, [ {deps, []}
                    , {erl_opts, [debug_info]}
                    , {src_dirs, ["erl_src", "testoutput"]}
                    ]}
           ]}.

%% {pre_hooks,
%%   [ {"(linux|darwin|solaris|win32)", compile, "bash -c 'cd .. && make'"}
%%   , {"(linux|darwin|solaris|win32)", clean, "cd .. && make clean"}
%%   ]}.
